@charset "utf-8";
/* CSS Document */

body{
	background:url(../img/miblogb.jpg) repeat;
	width:100%; 
	margin-left:auto; 
	margin-right:auto; 
	
}
.wrapper{
	margin-left:auto;
    margin-right:auto;
	width:80%;
	font-size:12px;
	width:1020px;
	
	
}
.head{
	height:150px;
}

.nav{
	margin-left:auto;
    margin-right:auto;
	float:left;
	width:100%;
	margin-top:22px;
	height:64px;
	font-size:16px;
	margin-bottom:10px;
	background:url(../img/menubg1.png) repeat-x;
	
}
.current{
	list-style:none;
	display:inline;
	padding-left:55px;
	padding-right:55px;	
	background:none;
	width:90px;
	height:39px;
	
}
.barFont{
	background:none;	
	display:inline;
	text-decoration:none; 
	color:#FFF;
}
.current a span:hover{
	/*background:url(../img/menu-hightlightbg.png) no-repeat;
	background-position:center;
	width:90px;
	height:39px;*/
	color:black;
}
.main-text{
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	
}
.left{
	float:left;
	text-align:left;
	background:#FFF;
	width:20%;
	height:850px;
	padding-top:0px;
	padding-bottom:0px;
	margin-right:5px;
}
.currentItem{
	margin-left:40px;
	margin-top:10px;
	list-style:none;
	padding-bottom:5px;
	padding-top:5px;
	
}

.itemFont{
	background:none;
	display:inline;
	text-decoration:none;
	font-size:16px;
	color:#996633;
}
.currentItem:hover{
	background-position:center;
	
}
.right{
	float:left;
	width:79%;
	height:850px;
	margin-left:0px;
	padding-left:0px;
	background:url(../img/mainbg.jpg) repeat;
	color:#996633;
	margin-left:5px;
}
.list-table{
	width:100%;
	text-align:center;
	font-size:16px;
	
}
.btn_submit{
	background:url(../img/btn_submit.png) no-repeat left top; 
	height:28px; 
	width:99px; 
	border:0; 
	margin-top:10px; 
	margin-right:15px;      
	font-weight:bold; 
	color:#FFF; 
	font-size:12px;
}

thead th{
	border-bottom:#c7d8e3 1px solid;
	padding-left:10px;
	background:url(../img/list_h2bg.png) repeat-x left top;
	height:28px;
	border-top:#c7d8e3 1px solid;
	font-weight:bold;
	font-size:14px;
	color:#000;
}
.search{
	height:47px; 
	background:url(../img/right_from_bg.gif) no-repeat left top;
	margin-bottom:15px;
}

tbody td{
	padding-top:10px;
	padding-bottom:10px;
}

.wrap_search_input{
	float:left; 
	margin-left:10px; 
	display:inline; 
	margin-top:10px;
	font-size:16px;
	color:#000;
	font-weight:bold;
}
.search_btn{
	display:inline; 
	float:left;
	background:url(../img/search_btn.png) no-repeat 0px top; 
	height:26px; 
	width:81px; 
	border:0;  
	margin-left:10px; 
	cursor:pointer; 
	vertical-align:middle; 
	margin-top:10px;
}

.stock_search_right{
	height:47px; 
	width:7px; 
	background:url(../img/right_from_right_bg.gif) no-repeat left top;
	float:right;
}

.section_list_table input{ 
    font-size:12px; 
	font-family:Arial; 
	padding-top:2px; 
	padding-left:2px;
	
}

.section_table{
	width:100%; 
	_width:99.5%; 
	*border-collapse:collapse;
	border-top:2px solid #c7d8e2;
	
}
.section_table tbody td{
	background-image:url(../img/form_td_bg.gif);
	background-repeat:repeat-x; 
	background-position:bottom;
}
.section_table td{padding:10px 10px 10px 19px;}
.section_table colgroup{ background-color:#f1f5f8; width:180px; * width:151px;}
.section_table p{
	color:#999; margin:0px; padding:0px; padding-top:4px;
}
.btn_submit2{
	background:url(../img/btn_submit.png) no-repeat left -150px; 
	height:28px; width:99px; border:0; margin-top:10px; margin-left:15px;color:#242426; font-size:12px; margin-right:5px;
}

.login_panel{
position:absolute 100px;
 	margin-top:-292px;
	margin-right:100px;
	height:330px;
	width:294px;
	float:right;

	background-color:#66FFFF;
	background: transparent url(../img/login_loginpanel.png) no-repeat left top;
}
.tag{
	height:37px;
	width:2960;
	margin-top:430px;
	
	background: transparent url(../img/login_tag.png);
	background-position: 0 -400px;
	background-repeat: repeat-x;
}
.username{
	margin-top:80px;
	margin-left:30px;
	font-size:14px;
}
.password{
	margin-top:20px;
	margin-left:30px;
	font-size:14px;
}
.login_btn{
margin-top:40px;
margin-left:90px;
}
.login_input{
float:right;
margin-right:35px;
margin-top:-3px;
}
.main_logo{
position:absolute;
margin-top:-350px;
margin-left:0px;
float:left;
}
.logo{
position:absolute;
float:left;
margin-top:-420px;
}
.right_title{
margin-left:40px;
}
.submin_btn_box2{
margin-top:150px;
margin-left:30px;
}
.submin_btn_box{

margin-left:30px;
}
.menuBar{
	margin-top:13px;
}
.error{
	position:absolute;
	margin-top:150px;
	margin-left:60px;
	color:#F00;
	display:inline;
}
#ext-grid{
	position:relative;
	}